#logo{
    width: 10%;
  }

  #ftsbr{
    width: 150px;
    height: 150px;
  }

  #cpnt2{
    margin-top: -180px;
    margin-right: -190px;
  }

  #rodape{
    background-color: #76C387;
    margin-top: 20px;
}